.reviews {
  text-align: center;

  .client {
    border-bottom: $border_bottom;
    margin: 30px 0;
    @include flexbox(flex, column, flex-start);

    .client__photo {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
}
